[Desktop Entry]
Name=Firefox, the Latest
GenericName=Firefox, the Latest
Comment=Firefox updater tool
Exec=gksu python3 /opt/firefox-standard-the-latest/firefox-standard-the-latest.py gui
Icon=/usr/share/pixmaps/firefox-standard-the-latest.png
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
